
@{
    ViewData["Title"] = "Acerca de";
}

<h1>Acerca de - Sistema de Gestión Web</h1>
<p>
    Este sistema web ha sido desarrollado para la gestión de las entidades de Productos, Productos Vendidos y Usuarios y Ventas.
    Permite realizar operaciones CRUD (Crear, Leer, Actualizar, Eliminar) sobre las entidades mensionadas.
</p>
<p>
    Si tiene alguna duda o sugerencia, no dude en contactarnos.
</p>

